<script type="text/javascript"><!--
  $(function() {
    // 時間エリアの高さとスクロールの設定
    $("#scroll_area").height(
        $(window).height() -
        $("#toolber").height() -
        $("#content").height()
    ).flickable({
        section: 'tr'
    });
    
    $(".schedule").each(function() {
      $(this).click(function() {
        window.location.href = "/app/Schedule/{" + $(this).attr("scheduleid") + "}";
      });
    });
    
    $(".schedule_gradient").each(function() {
      $(this).css(
        "left",
        ($(this).parent().width() + 6 - $(this).width()) / 2
      );
    });
    
    $("#scroll_area").flickable("refresh").flickable("select", <%= @current_hour - 1 %>);
  });
//--></script>

<style type="text/css">
.schedule_grid tr td {
  border-bottom: 2px dotted #999999;
  height: 40px;
}

.schedule_grid .schedule_time {
  text-align: right;
  vertical-align: top;
  width: 60px;
  background-color: #CCCCCC;
}

.schedule_grid .schedule_body {
/*  width: 100%;*/
  background-color: white;
  font-size: 1px;
}

.schedule_grid .schedule_current_hour {
  background-color: #99CCFF;
}

.schedule {
  position: absolute;
  left: 80px;
  width: 62%;
  padding-left: 10px;
  padding-right: 5px;
  border: 3px solid #DDDDDD;
  background-color: #007AFF;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: 0px 3px 3px #000000;
  -moz-box-shadow: 0px 3px 3px #000000;
  -webkit-box-shadow: 0px 3px 3px #000000;
}
.schedule .schedule_gradient {
  position: absolute;
  top: 3px;
  width: 80%;
  height: 50%;
  border: 0px;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0.1));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.3)), to(rgba(255,255,255,0.1)));
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.schedule .schedule_table {
  border: 0px;
  width: 100%;
  height: 100%;
}
.schedule .schedule_title {
  width: 100%;
  height: 20px;
}
.schedule .schedule_subject {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.schedule a p {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
</style>

<div class="toolbar" id="toolber">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td rowspan="2">
        <form action="<%= url_for :controller => :Login, :action => :menu %>">
          <input type="submit" class="standardButton" value="戻る"/>
        </form>
      </td>
      <td colspan="3">
        <h1 class="date"><%= @day.strftime("%Y") %>/<%= @day.strftime("%m") %></h1>
      </td>
      <td rowspan="2">
        <form action="<%= url_for :action => :day_schedules %>">
          <input type="submit" class="standardButton" value="当日"/>
        </form>
      </td>
    </tr>
    <tr>
      <td>
        <form action="<%= url_for :action => :day_schedules, :query => @yesterday %>">
          <input type="submit" class="standardButton" style="font-size:36px;padding:0px;" value="＜"/>
        </form>
    	</td>
    	<td>
      	<h1 class="date"><%= @day.strftime("%d") %></h1>
    	</td>
    	<td>
        <form action="<%= url_for :action => :day_schedules, :query => @tommorow %>">
          <input type="submit" class="standardButton" style="font-size:36px;padding:0px;" value="＞"/>
        </form>
    	</td>
    </tr>
  </table>
</div>

<div class="scroll_area" id="scroll_area">
  <table class="schedule_grid" cellpadding="0" cellspacing="0">
  <% 24.times do |hour| %>
    <tr>
      <td class="schedule_time <%= "schedule_current_hour" if hour == @current_hour %>"><%= "#{hour}:00" %></td>
      <td class="schedule_body <%= "schedule_current_hour" if hour == @current_hour %>">&nbsp;</td>
    </tr>
  <% end %>
  </table>
  <% @schedules.each do |schedule| %>
    <div scheduleid="<%= schedule.id %>" class="schedule" style="<%= "top:#{schedule.top}px; height:#{schedule.height}px;" %>">
      <div class="schedule_gradient"></div>
      <table class="schedule_table" border="0" cellpadding="0" cellspacing="0">
        <tr><td class="schedule_title"><%= schedule.parse_start_time.strftime("%H:%M") + "-" + schedule.parse_finish_time.strftime("%H:%M") %></td></tr>
        <tr><td class="schedule_subject"><%= schedule.subject %></td></tr>
      </table>
    </div>
  <% end %>
</div>

<div class="content" id="content">
  <form method="POST" action="<%= url_for :action => :new %>">
    <input type="submit" class="standardButton" value="新規スケジュール"/>
  </form>
</div>
