<div class="pageTitle">
  <h1>Edit <%= @schedule.subject %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show, :id => @schedule.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @schedule.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @schedule.object %>"/>
    <ul>
      
          <li>
            <label for="schedule[subject]" class="fieldLabel">Subject</label>
            <input type="text" name="schedule[subject]" value="<%= @schedule.subject %>" <%= placeholder( "Subject" ) %> />
          </li>
      
          <li>
            <label for="schedule[description]" class="fieldLabel">Description</label>
            <input type="text" name="schedule[description]" value="<%= @schedule.description %>" <%= placeholder( "Description" ) %> />
          </li>
      
          <li>
            <label for="schedule[planned_start_date]" class="fieldLabel">Planned start date</label>
            <input type="text" name="schedule[planned_start_date]" value="<%= @schedule.planned_start_date %>" <%= placeholder( "Planned start date" ) %> />
          </li>
      
          <li>
            <label for="schedule[planned_start_time]" class="fieldLabel">Planned start time</label>
            <input type="text" name="schedule[planned_start_time]" value="<%= @schedule.planned_start_time %>" <%= placeholder( "Planned start time" ) %> />
          </li>
      
          <li>
            <label for="schedule[planned_finish_date]" class="fieldLabel">Planned finish date</label>
            <input type="text" name="schedule[planned_finish_date]" value="<%= @schedule.planned_finish_date %>" <%= placeholder( "Planned finish date" ) %> />
          </li>
      
          <li>
            <label for="schedule[planned_finish_time]" class="fieldLabel">Planned finish time</label>
            <input type="text" name="schedule[planned_finish_time]" value="<%= @schedule.planned_finish_time %>" <%= placeholder( "Planned finish time" ) %> />
          </li>
      
          <li>
            <label for="schedule[actual_start_date]" class="fieldLabel">Actual start date</label>
            <input type="text" name="schedule[actual_start_date]" value="<%= @schedule.actual_start_date %>" <%= placeholder( "Actual start date" ) %> />
          </li>
      
          <li>
            <label for="schedule[actual_start_time]" class="fieldLabel">Actual start time</label>
            <input type="text" name="schedule[actual_start_time]" value="<%= @schedule.actual_start_time %>" <%= placeholder( "Actual start time" ) %> />
          </li>
      
          <li>
            <label for="schedule[actual_finish_date]" class="fieldLabel">Actual finish date</label>
            <input type="text" name="schedule[actual_finish_date]" value="<%= @schedule.actual_finish_date %>" <%= placeholder( "Actual finish date" ) %> />
          </li>
      
          <li>
            <label for="schedule[actual_finish_time]" class="fieldLabel">Actual finish time</label>
            <input type="text" name="schedule[actual_finish_time]" value="<%= @schedule.actual_finish_time %>" <%= placeholder( "Actual finish time" ) %> />
          </li>
      
          <li>
            <label for="schedule[customer_id]" class="fieldLabel">Customer</label>
            <input type="text" name="schedule[customer_id]" value="<%= @schedule.customer_id %>" <%= placeholder( "Customer" ) %> />
          </li>
      
          <li>
            <label for="schedule[user_id]" class="fieldLabel">User</label>
            <input type="text" name="schedule[user_id]" value="<%= @schedule.user_id %>" <%= placeholder( "User" ) %> />
          </li>
      
          <li>
            <label for="schedule[done]" class="fieldLabel">Done</label>
            <input type="text" name="schedule[done]" value="<%= @schedule.done %>" <%= placeholder( "Done" ) %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>