<div class="pageTitle">
  <h1>New <%= @document.title %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @document.object %>"/>
    <ul>
      
          <li>
            <label for="document[schedule_id]" class="fieldLabel">Schedule</label>
            <input type="text" name="document[schedule_id]" <%=
            placeholder("Schedule") %> />
          </li>
      
          <li>
            <label for="document[name]" class="fieldLabel">Name</label>
            <input type="text" name="document[name]" <%=
            placeholder("Name") %> />
          </li>
      
          <li>
            <label for="document[url]" class="fieldLabel">Url</label>
            <input type="text" name="document[url]" <%=
            placeholder("Url") %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>