<div class="pageTitle">
  <h1><%= @login.username %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :index %>">Back</a>
  </div>
  <div class="rightItem regularButton">
    <a href="<%= url_for :action => :edit, :id => @login.object %>">Edit</a>
  </div>
</div>

<div class="content">
  <ul>
    
        <li>
          <div class="itemLabel">Username</div>
          <div class="itemValue"><%= @login.username %></div>
        </li>
    
        <li>
          <div class="itemLabel">Password</div>
          <div class="itemValue"><%= @login.password %></div>
        </li>
    
  </ul>
</div>