<div class="pageTitle">
  <h1>Edit <%= @customer.name %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show, :id => @customer.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @customer.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @customer.object %>"/>
    <ul>
      
          <li>
            <label for="customer[name]" class="fieldLabel">Name</label>
            <input type="text" name="customer[name]" value="<%= @customer.name %>" <%= placeholder( "Name" ) %> />
          </li>
      
          <li>
            <label for="customer[address]" class="fieldLabel">Address</label>
            <input type="text" name="customer[address]" value="<%= @customer.address %>" <%= placeholder( "Address" ) %> />
          </li>
      
          <li>
            <label for="customer[tel]" class="fieldLabel">Tel</label>
            <input type="text" name="customer[tel]" value="<%= @customer.tel %>" <%= placeholder( "Tel" ) %> />
          </li>
      
          <li>
            <label for="customer[fax]" class="fieldLabel">Fax</label>
            <input type="text" name="customer[fax]" value="<%= @customer.fax %>" <%= placeholder( "Fax" ) %> />
          </li>
      
          <li>
            <label for="customer[email]" class="fieldLabel">Email</label>
            <input type="text" name="customer[email]" value="<%= @customer.email %>" <%= placeholder( "Email" ) %> />
          </li>
      
          <li>
            <label for="customer[latitude]" class="fieldLabel">Latitude</label>
            <input type="text" name="customer[latitude]" value="<%= @customer.latitude %>" <%= placeholder( "Latitude" ) %> />
          </li>
      
          <li>
            <label for="customer[longitude]" class="fieldLabel">Longitude</label>
            <input type="text" name="customer[longitude]" value="<%= @customer.longitude %>" <%= placeholder( "Longitude" ) %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>