<div class="pageTitle">
  <h1><%= @customer.name %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :index %>">Back</a>
  </div>
  <div class="rightItem regularButton">
    <a href="<%= url_for :action => :edit, :id => @customer.object %>">Edit</a>
  </div>
</div>

<div class="content">
  <ul>
    
        <li>
          <div class="itemLabel">Name</div>
          <div class="itemValue"><%= @customer.name %></div>
        </li>
    
        <li>
          <div class="itemLabel">Address</div>
          <div class="itemValue"><%= @customer.address %></div>
        </li>
    
        <li>
          <div class="itemLabel">Tel</div>
          <div class="itemValue"><%= @customer.tel %></div>
        </li>
    
        <li>
          <div class="itemLabel">Fax</div>
          <div class="itemValue"><%= @customer.fax %></div>
        </li>
    
        <li>
          <div class="itemLabel">Email</div>
          <div class="itemValue"><%= @customer.email %></div>
        </li>
    
        <li>
          <div class="itemLabel">Latitude</div>
          <div class="itemValue"><%= @customer.latitude %></div>
        </li>
    
        <li>
          <div class="itemLabel">Longitude</div>
          <div class="itemValue"><%= @customer.longitude %></div>
        </li>
    
  </ul>
</div>